/* dong nay giup reset lai margin va padding, dua ve trang thai 0, defaut la 
moi the div hoac p se co margin va padding tu dong cua browser

*/
* {
    margin: 0;
    padding: 0;
}

/*-------*/
#headermenu {
    width:1000px;
    margin: auto;
    background-color: rgb(157, 202, 112);
    height: 50px;
}
#headermenu ul  {
    display: inline-block;
}
.head {
    text-align: center;
    margin:5px;
    padding:5px;
}
.head_1 {
    text-align: center;
    padding:10px;
    border-right:1px solid white;
    border-left:1px solid white;
}
.head span{
    text-align: center;
}

.image {
    width:80%;
    padding:5px;
}
#headermenu ul li span {
    display:block;
}
.head_1 img {
    width: 15px;
}
.head_2 img{
    width:40px;
    float:right;

}
.head img {
    text-align: center;
    width: 15px;
}
/* .head  a span {
    font-size: 10px;
    text-align: center;
} */
.head_a img {
    width: 15px;
}
.head_a {
    padding: 10px;
}

#headermenu ul {
    display: flex;
}
#headermenu ul li {
    list-style: none;
    font-size: 10px;    
    text-align: center;

}
#headermenu ul li a {
    text-decoration: none;
}
#headermenu ul.menu_sub {
    display: none;
}
#headermenu .menu_sub li{
    display: block;
    text-align: left;
    background-color: rgb(157, 202, 112);
    border-bottom: 2px solid white;
}
#headermenu ul ul .head_1 {
    position: relative;
    width:60px;
    height: 100px;
}
#headermenu ul ul .head_1:hover   ul.menu_sub {
        display: block;
		position: absolute;
        top:50px;
        left:-80px;
}
#headermenu ul.menu_sub_inside{
    display:none;
}
#headermenu .menu_sub_inside li{
    display: block;
    text-align: left;
    background-color: rgb(81, 240, 33);
    border-bottom: 2px solid white;
}
#headermenu ul ul .head_2 {
    position: relative;
}
#headermenu ul ul .menu_sub .head_2:hover ul.menu_sub_inside{
    display: block;
    position: absolute;
    top:0px;
    left:102px;
    width:100px;
}

/* #headermenu {
    width:1000px;
    margin: auto;
    background-color: rgb(157, 202, 112);
    
}
.head2 img {
    width:90%;
    padding-top: 5px;
}
.b{
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.head1 img{
    padding-top: 5px;
    width:20px;
    height: 20px;
}
.head3   a img {
    width:50px;
    height: 50px;
    float: right;
    padding-left:52px;
}
#headermenu ul li a {
    text-align: center;
    padding:10px 5px 5px 5px;
    font-size: 11px;
}
#headermenu ul {
    display: flex;
}
#headermenu ul li {
    display: inline;
    font-size:14px;
    color: white;
    text-align: center;
}
#headermenu ul li a {
    text-decoration: none;
    color: white;
} */
#content {
    margin: auto;
    width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}
#sumgird {
    width:700px;
    float: left;
}
#gird1 {
    float: left;
}
#gird2{
    width: 300px;
    float: right;
}
#gird5{
    padding-top: 20px;
    float: left;
}
.gird2a{
    width: 300px;
    float: right;
}
#gird6{
    margin-top:280px;
}
#gird7 {
    margin-top:20px;
}
#gird3 img{
    width: 690px;
    height:100px;
    margin:5px 0 5px 5px;
}
#gird2 img{
    width:300px;
    height:620px;
 
}
.gird_left {
    display: inline-block;
    width:345px;
}
.gird_left h5{
    font-size: 15px;
}
.gird_left .gird_content {
    display: inline-block;
    width: 100%
}
.gird_left .gird_content img {
    float: left;
    margin-right: 10px;
    width: 120px;
    height: 90px;
}
.gird_left .img {
    width: 300px;
    height: 210px;
    padding: 0px 20px 25px 5px;
}
.gird_left .gird_desc {
    font-size: 14px;
}
.gird_left .gird_desc span {
    font-size: 12px;
    padding-left: 14px;
    /* icon tam thoi muon cua trang 24, */
    background: url(https://cdn.24h.com.vn/images/sprites092018.png) no-repeat -50px -1774px
}
.gird_list {
    display: inline-block;
    width: 100%;
    margin-top: 2px;
}
.gird_list ul {
    background-color: #eaf8d2
}
.gird_list ul li {
    font-size: 12px;
    display: block;
    padding-left: 15px;
    background: url(https://cdn.24h.com.vn/images/sprites092018.png) no-repeat -46px -253px
}
/* xem thuoc tinh ntc child o day:; https://www.w3schools.com/cssref/sel_nth-child.asp */
.gird_list ul:last-child {
    background-color: #d5ecab
}
.gird_list ul:last-child li {
    font-weight: bold;
}

.gird2b .gird_left1 .head_left1a{
    font-size: 15px;
    color: rgb(81, 240, 33);
    margin-bottom: 10px;
    border-bottom: 2px solid ;
}
.gird2b .gird_left1 .gird_content1 {
    display: inline-block;
    width: 100%
}
#gird2 .gird_left1 .gird_content1 img {
    float: left; 
    margin-right: 10px;
    width: 120px;
    height: 90px;
}


#gird2  .gird_left1 .gird_desc1 {
    font-size: 14px;
}
#gird2  .gird_left1 .gird_desc1 span {
    font-size: 12px;
    padding-left: 14px;
    color: white;
}
    /* icon tam thoi muon cua trang 24, */
    /* background: RED url(https://cdn.24h.com.vn/images/sprites092018.png) no-repeat -5px -1774px
} */
#gird2  .gird_list1 {
    display: inline-block;
    width: 100%;
    margin-top: 2px;
}
#gird2  .gird_list1 ul li {
    font-size: 12px;
    display: block;
    padding-left: 15px;
}
.BG_1{
    background:url(./anh/4.jpg) no-repeat left 4px;
    background-size: 10px;
}
.BG_1a{
    background:url(./anh/2.jpg) no-repeat left 4px;
    background-size: 10px;
}
.BG_2{
    background: RED url(./anh/5.jpg) no-repeat left 4px;
    background-size: 10px;
}
.BG_3{
    background: url(./anh/6.jpg) no-repeat 150px 16px;
    background-size: 8px;
}
#gird2 .gird2c {
    margin-top: 70px;
    display: block;
}
.head_left1{
    font-size: 15px;
    color: rgb(255, 70, 110);
    margin-bottom: 10px;
    border-bottom: 2px solid ;
}
.gird_left7{
    width: 430px;
    float: left;
}
.gird_video {
    width: 240px;
    height: 250px;
    float: right;
    margin-right:10px;
    margin-left: 10px;
    border: 1px solid red ;
    overflow: scroll;

}
.gird_video .gird_inside iframe{
    float: left; 
}
.gird_video .gird_inside a{
    float: right; 
}