* {
    padding: 0;
    margin: 0;
}
#content{
    width:1000px;
    font-family: Arial, Helvetica, sans-serif;
}
#girdleft{
    float:right;
    width:700px;

}
#girdleft img {
    width: 680px;
}
#girdright {
    float: left;
    width: 300px;
}